<a href="https://colab.research.google.com/github/gegarealbert/PLNG211-QC/blob/main/Control_and_Looping_Statement_ipyb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If else statement

In [17]:
a = 100
b = 100

if a > b:
  print("A is greater than B")

elif a < b:
  print("B is greater than A")

  
else: 
     print('B is equal than A')

B is equal than A

In [22]:
#ShortHand If Else Statement

c = 20
d = 35

if d>c: print("d>c")
print(c>d) if c>d else print(d>c)

d>c
True

In [28]:
#And Statement

if 10>5 and 8>4:
  print("Both Statements are true")
else:
    print("One of the statements is false/ both statements are not true")

Both Statements are true

In [33]:
#Or Statement
if 6<3 or 5>2:
  print("True")
else:
  print("False")

True

In [36]:
#Bitwise Operator ^(xor)
e =4 #0100 binary
f =2 #0010 binary

In [43]:
#Nested If

g =41
if g>10:
  print("Number is above 10")
if g>20:
  print("Number is above 20")
if g>30:
  print("Number is above 30")
if g>40:
  print("Number is above 40")

if g>51:
  print("The number is below to 50")
else:
  print("Number is less than 50")

Number is above 10
Number is above 20
Number is above 30
Number is above 40
Number is less than 50

In [17]:
#Write a program that determines if the input age is qualified to vote or not.
#The qualifying age is 18 years old and above.


age = int(input("Enter age: "))

if age<=17:
  print("You are not qualified to vote")
else:
  print("You are qualified to vote")

Enter age: 11
You are not qualified to vote

In [70]:
#Loop Statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)
  if y =="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [77]:
for y in week:
  if y =="Thursday":
    break
    print(y)
for x in "week":
  print(x)

w
e
e
k

In [86]:
#Range()function

for x in range(6):
  print(x)
print("\n")
for x in range(2,6,):
  print(x)

0
1
2
3
4
5


2
5

In [88]:
#Nested Loops
adj =["red", "big", "tasty"]
fr =["apple", "banana", "cherry"]

for x in adj:
  for y in fr:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [95]:
#While loop
i =1
while i<6:
  print(i)
  i+=1 #i = i+1//count

1
2
3
4
5

In [12]:
#While loop OUTPUT 3
i =3
while i<=3:
  print(i)
  if i==3:
    break
    print(i)

3

In [11]:
#Application 2
num = float(input("Input a number: "))
if num > 0:
   print("It is Positive number")
elif num == 0:
   print("It is Zero")
else:
   print("It is a Negative number")

Input a number: 0
It is Zero